<input type="text" ng-if="!item.values && !isBoolean(item.initial)" ng-model="ultimirror.moduleInstances[moduleKey]._config[item.id]" ng-model-options="{ updateOn: 'change', debounce: { 'change': 500 } }" placeholder="Enter your {{ item.name }}" />

<ul ng-if="!item.values && isBoolean(item.initial)">
    <li>
        <input type="radio" value="true" id="{{ moduleKey + '_' + item.id }}_yes" ng-model="ultimirror.moduleInstances[moduleKey]._config[item.id]" />
        <label for="{{ moduleKey + '_' + item.id }}_yes">
            Yes
        </label>
    </li>
    <li>
        <input type="radio" value="false" id="{{ moduleKey + '_' + item.id }}_no" ng-model="ultimirror.moduleInstances[moduleKey]._config[item.id]" />
        <label for="{{ moduleKey + '_' + item.id }}_no">
            No
        </label>
    </li>
</ul>

<select ng-if="item.values && !isBoolean(item.initial)" ng-model="ultimirror.moduleInstances[moduleKey]._config[item.id]" ng-options="key as value for (key, value) in item.values"></select>