<div oc-lazy-load="['modules/weather/css/weather.css']">
    <div id="module_weather">

        <!-- loading -->
        <div ng-if="ultimirror.moduleInstances[moduleKey].showLoading" class="loading">
            <div ng-include="'templates/loading_emoticon.html'"></div>
        </div>

        <!-- admin -->
        <div data-display="admin">
            <div ng-include="'layouts/admin/moduleConfig.html'"></div>
        </div>

        <!-- mirror -->
        <div ng-if="ultimirror.moduleInstances[moduleKey].data && !ultimirror.moduleInstances[moduleKey].showLoading" data-display="mirror">
            <!-- current forecast (graphical) -->
            <div ng-if="ultimirror.moduleInstances[moduleKey].config.theme == 'current'" data-theme="current">
                <!-- ... -->
            </div>


            <!-- current forecast (graphical) with 4 day forecast (tabular) -->
            <div ng-if="ultimirror.moduleInstances[moduleKey].config.theme == 'current_hybrid'" data-theme="current_hybrid">
                <table>
                    <thead>
                        <tr class="icon">
                            <td colspan="4" class="icon weather_{{ ultimirror.moduleInstances[moduleKey].data.current.icon }}">
                                <span class="icon"></span>
                            </td>
                        </tr>
                        <tr class="detail">
                            <td colspan="4">
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.showLocation">
                                    {{ ultimirror.moduleInstances[moduleKey].data.location }} /
                                </span>

                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'metric'">
                                    {{ ultimirror.moduleInstances[moduleKey].data.current.temperature | number:0 }}&deg;c
                                </span>
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'imperial'">
                                    {{ ultimirror.moduleInstances[moduleKey].data.current.temperature | number:0 }}&deg;f
                                </span>
                            </td>
                        </tr>
                    </thead>

                    <tbody class="small">
                        <tr>
                            <td ng-repeat="(dayIndex, day) in ultimirror.moduleInstances[moduleKey].data.days | limitTo:4:1" class="day">
                                {{ day.time | amUtc | amDateFormat:'ddd' }}
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="(dayIndex, day) in ultimirror.moduleInstances[moduleKey].data.days | limitTo:4:1" class="icon weather_{{ day.icon }}">
                                <span class="icon"></span>
                            </td>
                        </tr>
                        <tr>
                            <td ng-repeat="(dayIndex, day) in ultimirror.moduleInstances[moduleKey].data.days | limitTo:4:1" class="temperature">
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'metric'">
                                    {{ day.temperature | number:0 }}&deg;c
                                </span>
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'imperial'">
                                    {{ day.temperature | number:0 }}&deg;f
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- 5 day forecast (tabular) -->
            <div ng-if="ultimirror.moduleInstances[moduleKey].config.theme == '5day'" data-theme="5day">
                <table>
                    <thead ng-if="ultimirror.moduleInstances[moduleKey].config.showLocation">
                        <th colspan="4">
                            {{ ultimirror.moduleInstances[moduleKey].data.location }}
                        </th>
                    </thead>

                    <tbody>
                        <tr ng-repeat="(dayIndex, day) in ultimirror.moduleInstances[moduleKey].data.days">
                            <td class="day">
                                {{ day.time | amUtc | amCalendar:'true' }}
                            </td>
                            <td class="icon weather_{{ day.icon }}">
                                <span class="icon"></span>
                            </td>
                            <td class="condition">
                                {{ day.condition }}
                            </td>
                            <td class="temperature">
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'metric'">
                                    {{ day.temperature | number:0 }}&deg;c
                                </span>
                                <span ng-if="ultimirror.moduleInstances[moduleKey].config.temperatureUnits == 'imperial'">
                                    {{ day.temperature | number:0 }}&deg;f
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>