<div oc-lazy-load="['modules/system/css/system.css']">
    <div>

        <!-- all -->
        <table data-display="all">
            <tbody>
                <tr>
                    <td class="name">
                        Version
                    </td>
                    <td class="actions version">
                        {{ ultimirror.sys.version }}
                    </td>
                </tr>

                <tr ng-if="ultimirror.moduleInstances[moduleKey].data.ip_display">
                    <td class="name">
                        Mirror IP
                    </td>
                    <td class="actions ip">
                        {{ ultimirror.moduleInstances[moduleKey].data.ip_display }}
                    </td>
                </tr>

                <tr>
                    <td class="name">
                        Uptime
                    </td>
                    <td class="actions uptime">
                        {{ ultimirror.moduleInstances[moduleKey].data.uptime }}
                    </td>
                </tr>
            </tbody>

            <!-- admin -->
            <tbody data-display="admin">
                <tr ng-repeat="item in ultimirror.moduleInstances[moduleKey].defaultConfig">
                    <td class="name">
                        {{ item.name }}
                    </td>
                    <td class="actions">
                        <div ng-include="'templates/moduleConfig_fields.html'"></div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>