config:
  debug:          true
  port:           8080
  # Show settings page instead of mirror UI
  settings:       false
  # Amount of padding between mirror UI and edge of screen
  edgePadding:    medium
  # No audio
  mute:           false
  # Do not force the window to be on top of other windows
  notOnTop:       true
  windowed:       false
  windowedWidth:  1280
  windowedHeight: 800
  showWindow:     false
  webInspector:   true
  zoom:           1
  updateUrl:      false
  # Hardware GPS device?
  gpsDevice:      COM7