config:
  debug:          false
  port:           8080
  # Show settings page instead of mirror UI
  settings:       false
  # Amount of padding between mirror UI and edge of screen
  edgePadding:    medium
  # No audio
  mute:           false
  # Do not force the window to be on top of other windows
  notOnTop:       false
  windowed:       false
  windowedWidth:  768
  windowedHeight: 1024
  showWindow:     true
  webInspector:   false
  zoom:           1
  updateUrl:      https://github.com/dannyakakong/ultimirror/blob/master/package.json
  # Hardware GPS device?
  gpsDevice:      false