@require "../../../css/variables"
@require "../../../css/typography"

@import "jeet"


html.mirror {
    #module_quotes {
        width 100%


        .loading {
            min-height 120px
        }


        // quote content
        figure {
            margin 0

            blockquote {
                margin 0
                color white
                text-align center
                font-family fontOrbitron
                rem 34px

                > p {
                    &:first-child {
                        margin-top 0
                    }
                    &:last-child {
                        margin-bottom 0
                    }
                }
            }

            figcaption {
                color white
                text-align right
                font-family fontBubblegum
                rem 26px
                opacity 0.7
            }
        }
    }
}