@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: local('Baumans Regular'), local('Baumans-Regular'), url(../fonts/Baumans/Baumans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Bubblegum Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Bubblegum Sans Regular'), local('BubblegumSans-Regular'), url(../fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'), url(../fonts/Carter_One/CarterOne.ttf) format('truetype');
}

@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-weight: 400;
  src: local('Fontdiner Swanky Regular'), local('FontdinerSwanky-Regular'), url(../fonts/Fontdiner_Swanky/FontdinerSwanky-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(../fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Alternates Regular'), local('MontserratAlternates-Regular'), url(../fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf) format('truetype');

}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Alternates Bold'), local('MontserratAlternates-Bold'), url(../fonts/Montserrat_Alternates/MontserratAlternates-Bold.ttf) format('truetype');

}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron Regular'), local('Orbitron-Regular'), url(../fonts/Orbitron/Orbitron-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron Bold'), local('Orbitron-Bold'), url(../fonts/Orbitron/Orbitron-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: local('Orbitron Black'), local('Orbitron-Black'), url(../fonts/Orbitron/Orbitron-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(../fonts/Righteous/Righteous-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  src: local('Viga-Regular'), url(../fonts/Viga/Viga-Regular.ttf) format('truetype');
}