fontMontserrat = 'Montserrat', sans-serif
fontMontserratAlt = 'Montserrat Alternates', sans-serif
fontOrbitron = 'Orbitron', sans-serif
fontRighteous = 'Righteous', cursive
fontViga = 'Viga', sans-serif
fontBubblegum = 'Bubblegum Sans', cursive
fontFontdiner = 'Fontdiner Swanky', cursive
fontCarter = 'Carter One', cursive
fontLobster = 'Lobster', cursive
fontBaumans = 'Baumans', cursive