<div oc-lazy-load="['modules/layoutmanager/js/layoutmanager.js', 'modules/layoutmanager/css/layoutmanager.css']">
    <div id="module_layoutmanager" ng-controller="LayoutManagerCtrl">

        <!-- admin -->
        <table data-display="admin">
            <tbody>
                <tr>
                    <td class="name">
                        (Mirror display off)
                    </td>
                    <td class="actions">

                    </td>
                </tr>

                <tr ng-repeat="(layoutId, layout) in ultimirror.base.layouts" on-finish-render="layoutsRendered">
                    <td class="name">
                        {{ layout.name }}

                        <span ng-if="ultimirror.base.layout.mirror == layoutId" class="currentlyDisplaying">
                            []
                        </span>
                    </td>
                    <td class="actions">
                        <a href="#">
                            Preview
                        </a>
                        <a ng-click="changeCurrentlyDisplaying(layoutId, true)" href="#">
                            Edit
                        </a>
                        <a ng-if="ultimirror.base.layout.mirror != layoutId" ng-click="changeCurrentlyDisplaying(layoutId)" href="#">
                            Show on mirror now
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>