@require "../../../css/variables"
@require "../../../css/typography"

@import "jeet"


html.admin,
html.mirror {
    #module_photos {

    }
}


html.admin {
    #module_photos {

    }
}


html.mirror {
    #module_photos {
        text-align center

        img {
            display inline-block
            max-height 50vh
            max-width 100%
        }
    }
}